___
# Insper - Ciência dos Dados #
___
**Projeto 1 | Stephanie Liu**

**Engenharia 2B**

O Projeto 1 de Ciência dos Dados é baseada em realizar análise exploratória referência: Aula do Professor Miranda e o Livro de Noções de Probabilidade e Estatísca (Autor: Marcos Magalhães & Antônio de Lima)  

---
# Perguntas a serem respondidas #

1. O quanto a ONU contribuiu a partir da Earth Summit 92(RJ) aos países começarem a incentivar mais a energia renovavel ?
2. E isso esta causando uma queda significativa de emissão de CO2 em relação ao todo? Se não, O que esta afetando ainda?
___

# Introdução #
**Explicação da hipótese** 

Desde de a Conferência de Estocolmo, foram discutidos cada vez mais a questão do ambiente e o aquecimento global, a partir do Earth Summit de 92 os países entraram em um consenso para que houvesse a diminuição da emissão de gases .

O Link 5(das Referências), apesar de serem apenas dados da Alemanha, é possível ver o quanto de emissão desses gases, apenas na Alemanha foram evitados, seguindo esses dados, é possível ver que há um montante significativo de Gases que não foram emitidos>

Seguindo a linha de racicionio dos dados analisados da Alemanha, caso os países começassem a investir em energia renovavel, teoricamente haveria uma diminuição na emissão de gases de efeito estufa. Contudo, há uma chance de que esse tempo,de 92 até hoje em dia, não foi possível alcançar o desejável, em que houvesse alguma alteração significativa.

Além disso, em 2015 houve o acordo para a Agenda 2030 em que um dos objetivos é a energia renovavel. Desta forma, os países que concordaram com esses objetivos da Agenda 2030, principalmente para os países mais desenvolvidos, tem uma pressão política internacional.

Logo, provavelmente houve a diminuição de gases de efeito estufa, mas pelo pouco tempo não deve haver uma diferença significativa no montante de todo os gases emitidos, pois estes, por sua vez, não provém apenas da produção de energia.

**Explicação do mecanismo** 

Como a Conferência do Rio de Janeiro de 1992 houve um consenso entre os países, sobre as questões ambietalistas é viável compararmos os países que não estão entre os países que participaram da conferência em relação ao quanto de energia renovável estão produzindo e o quanto de combustíveis fosséis estão consumindo.

Outra análise que poderá ser feita, é o antes e o depois dos países que participaram da conferência obseravendo as mesmas variáveis. 

Além disso, poderemos ver se a alguma correlação entre o PIB dos países e seus investimentos nas energias renováveis e o menor consumo de combustíveis fosséis. Outro fator seria a porcentagem da energia produzida no país, quanto desse todo provém de fontes renovável  

Seria interessante também ver a diferença de um país que investe uma parte significativa do seu PIB em energia renováveis e um país que não tem uma parcela significativa 

___

In [15]:
#------------------------ Importando as Bibliotecas --------------------------
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

In [16]:
#-------------------- Leitura do excel(Fonte: GapMinder) --------------------------------------- 
#os documentos que estão abertos, futuramente posso utilizar, se não for utilizado será apagado
#coal_consumtion_t = pd.read_excel('coal_consumption_total.xlsx')
#eletricity_generation_t = pd.read_excel('electricity_generation_total.xlsx')
#hydro_power_generation_t = pd.read_excel('hydro_power_generation_total.xlsx')
#naturalgas_prodution_t =pd.read_excel('natural_gas_production_total.xlsx')
#nuclear_power_generation_t = pd.read_excel('nuclear_power_generation_total.xlsx')
#oil_production_t = pd.read_excel('oil_production_total.xlsx')
energy_production = pd.read_excel('energy_production_total.xlsx')

economy = pd.read_excel('gdp_total_yearly_growth.xlsx')
#-------------------- Leitura do excel(Fonte: WorldBank) --------------------------------------- 
Electricity_production_renewablesources = pd.read_excel('ElectricityRenewable_antesde92.xls')#SEM CONTAR HIDRELETRICA
Fossil_fuel_energy_consumption = pd.read_excel('Fossilfuelenergy consumption.xls')
FromOil = pd.read_excel('Electricityproductionfromoilsources.xls')

#----Paises Participantes(Fonte: www.postsustainabilityinstitute.org/uploads/4/4/6/6/4466371/agenda.21.attendees.pdf) 
AttendedCountry = pd.read_excel('PaisesParticipantes.xlsx')

---
# Filtração dos dados #

Como estamos analisando a partir do Earth Summit de 92 que aconteceu no Rio de Janeiro, faz sentido pegarmos os dados de 1992 e 2015. Para comparar como está se comportando a produção de energia renóvavel e o consumo de combustíveis fosséis 

Além disso, precisamos filtrar os países que participaram dessa conferência para conseguir analisar primeiramente o antes e o depois dos países participantes da conferência.

---

In [17]:
#---------------------------- Mudando o Indice -----------------------------
country_idx = AttendedCountry.set_index('Paises participantes')
energy_idx = Electricity_production_renewablesources.set_index('Country Name')
fosil_idx = Fossil_fuel_energy_consumption.set_index('Country Name')
GDP_idx = economy.set_index('country')
Energy_Total_idx = energy_production.set_index('country')

In [18]:
#----------------------------- Filtrando os Anos ----------------------------
Energy_1 = energy_idx.loc[:,[1992, 2015]]
Energy_1.head(10)

                             1992          2015
Country Name
Aruba                         0.0  0.000000e+00
Afghanistan                   0.0  0.000000e+00
Angola                        NaN           NaN
Albania                 1000000.0  5.117000e+09
Andorra                       0.0  2.960000e+08
Arab World            102000000.0  2.752000e+09
United Arab Emirates          0.0  4.000000e+06
Argentina                     NaN           NaN
Armenia                       NaN           NaN
American Samoa        670000000.0  2.104400e+10

In [30]:
# Fossil_1 = fosil_idx[fosil_idx.columns[57:58]]
# Fossil_1.head(6)
Fossil_1 = fosil_idx.loc[:,[1992, "2014"]]
Fossil_1.head(10)

                      1992       2014
Country Name
Aruba                  NaN        NaN
Afghanistan            NaN        NaN
Angola                 NaN  48.305593
Albania                NaN  61.421801
Andorra                NaN        NaN
Arab World             NaN  95.478343
United Arab Emirates   NaN  86.128349
Argentina              NaN  87.722407
Armenia                NaN  74.561866
American Samoa         NaN        NaN

In [31]:
#GDP_1 = GDP_idx[GDP_idx.columns[191:192]]
#GDP.head(6)
GDP = GDP.loc[:,[1992, 2015]]
GDP_idx.head(20)

NameError: name 'GDP' is not defined

In [22]:
Energy = Energy_Total_idx.loc[:,[1992, 2009]]
Energy.head(20)

                            1992      2009
country
Albania                   1400.0    1250.0
Algeria                 104000.0  152000.0
Angola                   32800.0  101000.0
Argentina                54300.0   80800.0
Armenia                    263.0     825.0
Australia               172000.0  311000.0
Austria                   8560.0   11400.0
Azerbaijan               18200.0   64600.0
Bahrain                  13500.0   17600.0
Bangladesh               11400.0   24800.0
Belarus                   3500.0    4050.0
Belgium                  12700.0   15300.0
Benin                     1780.0    2000.0
Bolivia                   5060.0   14200.0
Bosnia and Herzegovina    3640.0    4470.0
Botswana                  1040.0     938.0
Brazil                  105000.0  230000.0
Brunei                   17500.0   18900.0
Bulgaria                  8830.0    9830.0
Cambodia                     NaN    3670.0

---
# Junção dos Dados #

Há uma interseção dos dados, ou seja, há uma limpeza dos países, nestes casos, que não participaram da conferência 
Já que futuramente iremos analisar o antes e o depois dos países que estiverem presentes na conferência

---

In [23]:
C_Attendend_Energy = country_idx.join(Energy, how='inner', lsuffix='_Country', rsuffix='_Energy')
#C_Attendend_Energy

In [24]:
C_Attendend_Fosil = country_idx.join(Fosil, how='inner',lsuffix='_Country', rsuffix='_Fossil')
#C_Attendend_Fosil

NameError: name 'Fosil' is not defined

In [25]:
C_Attendend_Economy = GDP.join(Energy,how='inner',lsuffix='_GDP',rsuffix='_GDP')
#C_Attendend_Economy

NameError: name 'GDP' is not defined

In [26]:
C_Attended_TotalEnergy = country_idx.join(Energy_total,how='inner',lsuffix='_Country',rsuffix='_Energy')
#C_Attended_TotalEnergy

NameError: name 'Energy_total' is not defined

---
# Remoção dos Países sem dados #

Há alguns países que não possuem os dados, não será possível realizar uma análise destes países, há a possibilidade de fazer tal limpeza já que não há a necessidade de analisar cada país, pois estamos vendo de forma geral, toda a situação.

---

In [13]:
EnergyRenovavelProduzida = C_Attendend_Energy.dropna()
#EnergyRenovavelProduzida
EnergyRenovavelProduzida.head(5)

                1992      2009
Angola       32800.0  101000.0
Argentina    54300.0   80800.0
Australia   172000.0  311000.0
Azerbaijan   18200.0   64600.0
Bangladesh   11400.0   24800.0

In [14]:
EnergiaTotalPaises = C_Attended_TotalEnergy.dropna()
#EnergiaTotalPaises
EnergiaTotalPaises.head(5)

NameError: name 'C_Attended_TotalEnergy' is not defined

In [43]:
Consumo_Fosseis = C_Attendend_Fosil.dropna()
#Consumo_Fosseis
Consumo_Fosseis.head(5)

,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Australia,93.738609,93.578428,93.852171,93.911286,93.688718,94.342660,93.758346,93.886483,93.831770,93.648221,...,94.283165,94.293104,94.351488,95.510059,94.424742,94.421656,94.377006,93.708049,93.386836,89.625630
Canada,73.794908,74.022951,75.051951,73.605492,72.290382,73.436363,72.577686,71.698267,72.520181,73.237085,...,74.563072,74.735584,75.076003,75.066001,75.385393,74.691747,74.439479,73.173516,73.192874,74.089062
Chile,65.912990,69.306028,73.808451,72.156477,68.036742,66.356004,68.074028,69.823791,70.007814,72.391659,...,74.009149,76.026447,75.184267,73.474027,77.606672,76.679117,70.039442,68.649802,73.250544,74.647212
Mexico,88.443631,88.413597,88.526801,87.353338,87.405306,86.950138,86.971846,88.198442,86.186298,86.243870,...,89.107351,88.900485,89.695292,90.579491,90.495089,90.464610,91.056996,90.571045,90.278490,90.426208
Iceland,31.873471,30.317708,30.161400,28.639914,27.838666,29.763855,30.045656,29.982114,29.289171,30.736419,...,19.713460,16.151274,13.167050,12.170354,11.519792,10.254953,10.330714,10.404207,10.928487,11.288869

In [44]:
Economy_GDP = C_Attendend_Economy.dropna()
#Economy_GDP
Economy_GDP.head(5)

,1987_GDP,1988_GDP,1989_GDP,1990_GDP,1991_GDP,1992_GDP,1993_GDP,1994_GDP,1995_GDP,1996_GDP,...,2006_GDP,2007_GDP,2008_GDP,2009_GDP,2010_GDP,2011_GDP,2012_GDP,2013_GDP,2014,2015
Afghanistan,-18.600,-9.86,-0.341,-0.885,7.340,1.22,-5.14,-2.570,28.30,7.31,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Albania,3.370,3.18,2.680,1.940,-28.900,-8.79,7.38,5.930,11.20,7.66,...,8.460000e+08,1.166000e+09,1.262000e+09,1.631000e+09,2.515000e+09,2.561000e+09,2.436000e+09,3.534000e+09,4.457000e+09,5.117000e+09
Algeria,-0.573,-2.08,3.420,-1.450,-1.080,1.65,-2.23,-0.999,3.69,3.72,...,4.842400e+10,5.450200e+10,5.929000e+10,6.870900e+10,7.650100e+10,8.807400e+10,1.033360e+11,1.158800e+11,1.349530e+11,1.561850e+11
Antigua and Barbuda,9.510,8.58,6.720,3.250,2.440,1.03,5.40,6.290,-4.19,6.63,...,5.151000e+09,6.236000e+09,6.344000e+09,6.281000e+09,6.617000e+09,6.627000e+09,7.404000e+09,8.322000e+09,8.934000e+09,1.018700e+10
Azerbaijan,1.500,2.38,2.060,-2.010,-0.602,-22.50,-22.80,-19.400,-11.40,1.84,...,2.593000e+09,3.097000e+09,4.008000e+09,5.111000e+09,6.182000e+09,8.181000e+09,1.010100e+10,1.129500e+10,1.192100e+10,1.414800e+10

---
# Análise e Explicação dos Dados #

Para uma melhor visualização dos dados e resultados haverá o uso de gráficos

---

---
# Referencias #
---

1. https://www.gapminder.org/data/ (dado GDP e entre outros)
2. https://data.worldbank.org/ (dados do produção de energia renovável e consumo de combustíveis fosséis )
3. https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions (Dados sobre as emissões de gases de efeito estufa)
4. https://data.worldbank.org/indicator/EN.ATM.GHGT.KT.CE?locations=LY (Dados da emissão de Gás ao todo no mundo)
5. https://www.umweltbundesamt.de/en/indicator-ghg-emissions-avoided-through-the-use-of#textpart-1 (Dados de emissão de gases de efeito estufa evitados na Alemanha)
6. https://nacoesunidas.org/conferencias-de-meio-ambiente-e-desenvolvimento-sustentavel-miniguia-da-onu/ (Sobre as Conferências Ambientalistas)
7. https://nacoesunidas.org/acao/meio-ambiente/
8. https://sustainabledevelopment.un.org/content/documents/Agenda21.pdf (Documento realizado durante a Conferência de 92)
9. https://sustainabledevelopment.un.org/outcomedocuments/agenda21 (Sobre a agenda 21)
10. https://sustainabledevelopment.un.org/milestones/unced (Conferências da ONU)
---